name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: ryohidaka
          template: classic
          base: header, activity, community, repositories
          plugin_languages: yes
          config_timezone: Asia/Shanghai
          use_prebuilt_image: yes
